<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <a href="/new">追加</a>
  <% unless @memos[0].nil? %>
  <ul>
    <% @memos.each do |memo| %>
    <li><a href=<%= "/memos/#{memo[0]}" %>><%= memo[1] %></a></li>
    <% end %>
  </ul>
  <% end %>
</body>
</html>