<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Memo</title>
</head>
<body>
  <h1>新規作成</h1>
  <form action="/memos" method="post">
    <input type="text" id="title" name="title">
    <input type="text" id="content" name="content">
    <input type="submit" value="保存">
  </form>
</body>
</html>