<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/memo_app.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <title>Show Memo</title>
</head>
<body>
  <main>
    <h1>詳細</h1>
    <h2><%= @memo[:title] %></h2>
    <p><%= @memo[:content] %></p>
    <form action="/memos/<%= @memo[:id] %>/edit" method="get">
      <button type="submit">変更</button>
    </form>
    <form action="/memos/<%= @memo[:id] %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">削除</button>
    </form>
  </main>
</body>
</html>
